<div class="item">
  <div>Avatar URL</div>
  <div>
    <input type="url" name="avatar_url" placeholder="htts://" value="{{teacher.avatar_url}}">
  </div>
</div>

<div class="item">
  <div>Nome Completo</div>
  <div>
    <input type="text" name="name" placeholder="Seu nome" value="{{teacher.name}}">
  </div>
</div>

<div class="item">
  <div>Data de Nascimento</div>
  <div>
    <input type="date" name="birth" value="{{teacher.birth}}">
  </div>
</div>

<div class="item">
  <div>Grau de Escolaridade</div>
  <div>
    <select name="degree" form="teacherform">
      <option value="{{teacher.degree}}" selected="true">
        {% set graduation = teacher.degree %}
          {% switch graduation %}
            {% case 'high_school' %}
            	Ensino Médio Completo
            {% case 'university' %}
              Ensino Superior Completo
            {% case 'master' %}
              Mestrado
            {% case 'doctorate' %}
              Doutorado
            {% default %}
              Selecione sua formação
            {% endswitch %}
      </option>
      <option value="high_school">Ensino Médio Completo</option>
      <option value="university">Ensino Superior Completo</option>
      <option value="master">Mestrado</option>
      <option value="doctorate">Doutorado</option>
    </select>
  </div>
</div>

<div class="item">
  <div>Formato de Aula</div>
  <div>
    <span><input type="radio" name="class_type" value="elearning" 
    {% if teacher.class_type == 'elearning' %}
      checked
    {% endif %}>À distância</span>
    <span><input type="radio" name="class_type" value="presential"
    {% if teacher.class_type == 'presential' %}
      checked
    {% endif %}>Presencial</span>
  </div>
</div>

<div class="item">
  <div>Área de atuação</div>
  <div>
    <input type="text" name="lectures" placeholder="Separe as matérias por vírgula"
    value="{{teacher.lectures}}">
  </div>
</div>

<button type="submit">Salvar</button>