{% extends 'layout.njk' %}

{% block content %}

  <form class="card" method="POST" action="/students/{{student.id}}?_method=PUT" id="studentform">
    <section class="image" style="background: url({{student.avatar_url}}) no-repeat center center/cover"></section>

    <section class="details">

      <h3>Editar Estudante</h3>

      {% include 'students/fields.njk' %}

      <input type="hidden" name="id" value="{{ student.id }}">

    </section>
  </form>

{% endblock content %}  