<div class="item">
  <div>Avatar URL</div>
  <div>
    <input type="url" name="avatar_url" placeholder="htts://" value="{{student.avatar_url}}">
  </div>
</div>

<div class="item">
  <div>Nome Completo</div>
  <div>
    <input type="text" name="name" placeholder="Seu nome" value="{{student.name}}">
  </div>
</div>

<div class="item">
  <div>Data de Nascimento</div>
  <div>
    <input type="date" name="birth_date" value="{{student.birth_date}}">
  </div>
</div>

<div class="item">
  <div>Email</div>
  <div>
    <input type="email" name="email" value="{{student.email}}">
  </div>
</div>

<div class="item">
  <div>Ano Escolar</div>
  <div>
    <select name="grade" form="studentform">
      <option value="{{student.grade}}" selected="true">
      {% set grade = student.grade %}
      {% switch grade %}
      {% case '5th'%}
      5º Ano do Ensino Fundamental
      {% case '6th'%}
      6º Ano do Ensino Fundamental
      {% case '7th'%}
      7º Ano do Ensino Fundamental
      {% case '8th'%}
      8º Ano do Ensino Fundamental
      {% case '9th'%}
      9º Ano do Ensino Fundamental
      {% case '1th'%}
      1º Ano do Ensino Médio
      {% case '2th'%}
      2º Ano do Ensino Médio
      {% case '3th'%}
      3º Ano do Ensino Médio
      {% default %}
      Selecione seu ano escolar
      {% endswitch %}
      </option>
      <option value="5th">5º Ano do Ensino Fundamental</option>
      <option value="6th">6º Ano do Ensino Fundamental</option>
      <option value="7th">7º Ano do Ensino Fundamental</option>
      <option value="8th">8º Ano do Ensino Fundamental</option>
      <option value="9th">9º Ano do Ensino Fundamental</option>
      <option value="1th">1º Ano do Ensino Médio</option>
      <option value="2th">2º Ano do Ensino Médio</option>
      <option value="3th">3º Ano do Ensino Médio</option>
    </select>
  </div>
</div>

<div class="item">
  <div>Carga horária semanal</div>
  <div>
    <input type="number" name="hours" placeholder="em horas" value="{{student.hours}}">
  </div>
</div>

<button type="submit">Salvar</button>