{% extends 'layout.njk' %}

{% block content %}

  <div class="card">
    <section class="image" style="background: url({{student.avatar_url}}) no-repeat center center/cover"></section>

    <section class="details">
      <div class="item">
        <div>Estudante</div>
        <div>{{student.name}}</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>{{student.birth_date}} anos</div>
      </div>

      <div class="item">
        <div>Dia de Nascimento</div>
        <div>{{student.birthDay}}</div>
      </div>

      <div class="item">
        <div>Email</div>
        <div>{{student.email}}</div>
      </div>
      <div class="item">
        <div>Ano Escolar</div>
        <div>{{student.grade}}</div>
      </div>

      <div class="item">
        <div>Carga Horária</div>
        <div>{{student.hours}} horas</div>
      </div>

      <div class="wrap">
        <a id="edit" href="/students/{{student.id}}/edit" class="button">Editar</a>
        <form id="form-delete" action="/students?_method=DELETE" method="post">
          <input type="hidden" name="id" value="{{student.id}}">
          <button id="button-delete" type="submit">Deletar</button>
        </form>
      </div>
    </section>
  </div>

  {% include 'confirmDelete.njk' %}

{% endblock content %}