<!DOCTYPE html>
<html>

  {% block head %}
    <head>
      <link rel="stylesheet" href="/style.css">
      <link rel="icon" href="assets/favicon.ico" type="image/x-icon"/>
      <title>Rocketseat</title>
    </head>
  {% endblock %}

  <body>
    <header class="nav_links">
      <a href="/courses">Conteúdos</a>
      <a href="/">Sobre</a>
      <a href="https://discordapp.com/invite/gCRAFhc" target="_black">Comunidade</a>
      <a href="mailto:oi@rocketseat.com.br?Subject=Hello%20Guys">Email</a>
    </header>

    {% block content %}{% endblock %}

  </body>
</html>
