{% extends 'layout.njk' %}

{% block content %}
    <main class="aboutHtml">
        <h1>Sobre o Foodfy</h1>
        <p>Cornhole polaroid gochujang pickled, mlkshk microdosing sartorial mixtape banjo church-key fanny pack snackwave. Photo booth XOXO lumbersexual chia chambray shaman blog adaptogen jean shorts poke street art cred. Forage irony ennui asymmetrical. Everyday carry vexillologist palo santo single-origin coffee hella sartorial brooklyn photo booth typewriter slow-carb. Hashtag narwhal dreamcatcher hot chicken XOXO fanny pack venmo, lo-fi biodiesel.</p>
        <p>Salvia before they sold out succulents pour-over pork belly vegan authentic cardigan mixtape. Locavore quinoa squid tote bag, hell of shaman tacos live-edge flexitarian messenger bag semiotics gochujang adaptogen. Poke swag succulents, locavore keffiyeh drinking vinegar wayfarers gastropub blog. Mustache bicycle rights portland intelligentsia banjo. Master cleanse stumptown pickled tacos, tousled tote bag hella selvage coloring book umami kinfolk bespoke chicharrones. Quinoa raw denim celiac venmo taxidermy direct trade keytar VHS church-key yuccie copper mug put a bird on it microdosing cold-pressed.</p>

        <h2>Como tudo começou...</h2>
        <p>Cornhole polaroid gochujang pickled, mlkshk microdosing sartorial mixtape banjo church-key fanny pack snackwave. Photo booth XOXO lumbersexual chia chambray shaman blog adaptogen jean shorts poke street art cred. Forage irony ennui asymmetrical. Everyday carry vexillologist palo santo single-origin coffee hella sartorial brooklyn photo booth typewriter slow-carb. Hashtag narwhal dreamcatcher hot chicken XOXO fanny pack venmo, lo-fi biodiesel.</p>
        <p>Salvia before they sold out succulents pour-over pork belly vegan authentic cardigan mixtape. Locavore quinoa squid tote bag, hell of shaman tacos live-edge flexitarian messenger bag semiotics gochujang adaptogen. Poke swag succulents, locavore keffiyeh drinking vinegar wayfarers gastropub blog. Mustache bicycle rights portland intelligentsia banjo. Master cleanse stumptown pickled tacos, tousled tote bag hella selvage coloring book umami kinfolk bespoke chicharrones. Quinoa raw denim celiac venmo taxidermy direct trade keytar VHS church-key yuccie copper mug put a bird on it microdosing cold-pressed.</p>

        <h2>Nossas receitas</h2>
        <p>Cornhole polaroid gochujang pickled, mlkshk microdosing sartorial mixtape banjo church-key fanny pack snackwave. Photo booth XOXO lumbersexual chia chambray shaman blog adaptogen jean shorts poke street art cred. Forage irony ennui asymmetrical. Everyday carry vexillologist palo santo single-origin coffee hella sartorial brooklyn photo booth typewriter slow-carb. Hashtag narwhal dreamcatcher hot chicken XOXO fanny pack venmo, lo-fi biodiesel.</p>
    </main>
{% endblock %}
