{% extends 'layout.njk' %}}

{% block content %}

    <main class="indexHtml">
        <div class="text">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <img src="assets/chef.png">
    </main>

    <h2 class="indexH2">Algumas receitas...</h2>
    <div class="cards">

        {% for item in items %}
            <div class="recipeCard">
                <img src="{{item.image}}">
                <h3 class="recipeTitle">{{item.title}}</h3>
                <p class="chefName">por {{item.author}}</p>
            </div>
        {% endfor %}

    </div>

{% endblock %}