{% extends 'layout.njk' %}

{% block content %}

<main class="error">
  <h1>Página não encontrada erro 404</h1>
  <p>Hum... Não conheço essa receita, pode digitar novamente?</p>
</main>

{% endblock %}
