{% extends 'layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="../../style.css">
{% endblock %}

{% block content %}

  <img src="{{item.image}}" alt="">

  <h1>{{item.title}}</h1>
  <p>{{item.author}}</p>

  <h2>Ingredientes</h2>
  <p>{{item.ingredients}}</p>

  <h2>Modo de preparo</h2>
  <p>{{item.preparation}}</p>

  <h2>Informações adicionais</h2>
  <p>{{item.information}}</p>


{% endblock %}}