{% extends 'layout.njk' %}

    {% block content %}

        <main class="recipesHtml">
        {% for item in items %}
            <div class="recipeCard">
                <img src="{{item.image}}">
                <h3 class="recipeTitle">{{item.title}}</h3>
                <p class="chefName">Por {{item.author}}</p>
            </div>
        {% endfor %}
        </main>
    </div>

    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-content">
                <div class="recipeCard" id="asinhas">
                    <img src="assets/asinhas.png">
                    <h3 class="recipeTitle">Assinhas de frango ao barbecue</h3>
                    <p class="chefName">por Vania Steroski</p>
                </div>
            </div>
            <div class="close-modal">
                <a class="closeButton">Fechar modal</a>
            </div>
        </div>
    </div>


    <script src="/scripts.js"></script>

    {% endblock %}