{% extends 'layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="../../style.css">
  <title>{{item.title}}</title>
{% endblock %}

{% block content %}

  <main class="recipe">
    <img src="{{item.image}}" alt="Imagem de {{item.title}}">

    <h1>{{item.title}}</h1>
    <p>por
      {{item.author}}</p>

    <h2>Ingredientes</h2>
    <button>Esconder</button>
    <ul class="hideable">
      {% for ingredient in item.ingredients %}
        <li>{{ingredient}}</li>
      {% endfor %}
    </ul>

    <h2>Modo de preparo</h2>
    <button>Esconder</button>

    <div class="hideable">
      <ol>
        {% for preparation in item.preparation %}
          <li>{{preparation}}</li>
        {% endfor %}
      </ol>
    </div>

    <h2>Informações adicionais</h2>
    <button>Esconder</button>
    {# {% set item = item.information %}
    {% for i in item | string | list %}
      <p>{{i}}</p>
    {% endfor %} #}

    <p class="hideable">{{item.information | replace('!', "!<br>") }}</p>

  </main>

  <script src="/scripts.js"></script>

{% endblock %}}