{% extends 'layout.njk' %}

    {% block content %}

        <main class="recipesHtml">
        {% for item in items %}
            <div class="recipeCard">
                <img src="{{item.image}}">
                <h3 class="recipeTitle">{{item.title}}</h3>
                <p class="chefName">Por {{item.author}}</p>
            </div>
        {% endfor %}
        </main>
    </div>

    <script src="/scripts.js"></script>

    {% endblock %}
    