<!DOCTYPE html>
<html lang="pt-BR">
<head>

  {% block head %}
    <title>Classes Manager</title>
  {% endblock head %}

  <link rel="stylesheet" href="/styles.css">

</head>
  <body>
    <header>
      <div class="links">
        <a href="/">Teachers</a>
        <a href="/students">Students</a>
      </div>
    </header>

    {% block content %}{% endblock content %}

  </body>
</html>