@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

body img {
    border-radius: 50%;
    border: 5px solid #50fa7b;
    margin-bottom: 32px;
    height: 300px;
}

body h1 {
    margin: 0 30px;
    text-decoration: none;
    font-size: 42px;
    font-weight: bold;
    color: white;
    margin-bottom: 3px;
}

body h3 {
    color: white;
    padding-bottom: 20px;
}

#description {
    max-width: 500px;
    margin: auto;
    color: white;
    font-size: 18px;
}

#techs {
    color: white;
    margin-top: 30px;
    font-size: large;
}

#techs ul {
    padding-top: 20px;
}

#techs p {
    margin-bottom: 15px;
}

ul li {
    display: inline;
    font-size: 25px;
    padding: 0 20px;
}

#links {
    margin-top: 20px;
}

#links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0px 16px;
    padding: 0px 3px;
}

#links a:hover {
    color: #50fa7b;
    transition: color 200ms;
}