@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}

header .links {
    text-align: center;
}

header .links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    /* dica: usar 10px a mais que o font-size*/
    margin: 0 30px;
    text-decoration: none;
}

header .links a:hover {
    color: #50fa7b;
    transition: color 200ms;
}

.wrapper h1 {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    color: white;
    margin-bottom: 50px;
}

.courses {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.courseCard {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 25px;
    cursor: pointer;
}

.courseCard img {
    display: block;
    margin: 0 auto;
}

.courses .course_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.course_info p:nth-last-of-type(1) {
    filter: brightness(90%);
    padding-top: 5px;
    text-align: right;
    border-radius: 20px;
}

/* modal */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal .maximize-modal {
    color: black;
    position: absolute;
    right: 32px;
    top: 8px;
    cursor: pointer;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

.modal.maximize {
    background-color: white;
    width: 100%;
    height: 100%;
    margin-top: 0;
}