@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #CBC0AE;
}

a {
  text-decoration: none;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  background-image: linear-gradient(rgb(15, 100, 135), rgba(15, 100, 135, 0.7));
  /* border-bottom: black 2px solid; */
}

.topBar a {
  margin-right: 30px;
  height: 20px;
  width: 20px;
}

.topBar a:last-of-type {
  margin-right: 15%;
}

header {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 22px;
  padding: 32px;
  background-image: linear-gradient(rgba(15, 100, 135, 0.7), rgba(15, 100, 135, 0.1));
}

.links {
  padding: 20px 20px 0;
}

.links a {
  position: relative;
  padding: 8px;
  z-index: 1;
  color: white;
}

.links a + a {
  margin-left: 25px;
}

.links a::after {
  z-index: -1;
  content: "";
  width: 0%;
  height: 0%;
  border-radius: 0px;
  background-color: rgba(15, 100, 135, 0.7);
  left: 0;
  bottom: 0;
  position: absolute;
}

.links a:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: all 300ms ease-in-out;
}

.links a.active {
  font-weight: bold;
  background-color: rgba(15, 100, 135, 0.7);
  border-radius: 25px;
}
